*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: bisque;
}

.score-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  z-index: 1;
}

p{
  font-weight: bold;
  font-size: 5rem;
}

.score{
  font-weight: 500;
  font-size: 3rem;
}